.ccm-page .c5h-page-list-masonry-content-inner {
	margin-bottom: 30px;
}

.ccm-page .c5h-page-list-masonry-entry-text {
	padding: 20px;
}

.ccm-page .c5h-page-list-masonry-button .button {
	margin-bottom: 0;
}

.c5h-page-list-masonry-thumbnail {
	overflow: hidden;
}

.c5h-page-list-masonry-thumbnail img {
	transform: scale(1.0);
	transition: 1s;
	filter: grayscale(0%) blur(0);
}

.c5h-page-list-masonry-thumbnail img:hover {
	transform: scale(1.2);
	transition: 1s;
	filter: grayscale(100%) blur(2px);
}